body {
    background: #272822;
    color: #f8f8f2;
    font-family: sans-serif;
    margin: 0;
    padding: 1em;
}

h2 {
    display: flex;

    > * {
        margin-left: 0.5em;
    }
}

.CodeMirror {
    border: 1px solid #f8f8f2;
    height: auto;

    pre.CodeMirror-placeholder {
        opacity: 0.5;
    }

    .CodeMirror-scroll {
        height: auto;
    }
}

.stdout,
.stderr {
    .xterm-screen {
        border: 1px solid #f8f8f2;
    }
}

@import '../node_modules/xterm/css/xterm.css';
@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/monokai.css';
