body {
    background: #272822;
    color: #f8f8f2;
    font-family: sans-serif;
    margin: 0;
    padding: 1em;
}

h2 {
    display: flex;

    > * {
        margin-left: 0.5em;
    }
}

.CodeMirror {
    border: 1px solid rgba(248, 248, 242, .3);
    font-family: courier-new, courier, monospace;
    font-size: 15px;
    height: auto;

    pre.CodeMirror-placeholder {
        opacity: 0.5;
    }

    .CodeMirror-scroll {
        height: auto;
    }

    &:focus-within {
        border-color: #a6e22e;
    }
}

.terminal {
    border: 1px solid rgba(248, 248, 242, .3);
    padding: 4px;

    &:focus-within {
        border-color: #a6e22e;
    }
}

@import '../node_modules/xterm/css/xterm.css';
@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/monokai.css';
